@font-face {
    font-family: avQuest;
    src: url(./avqest.regular.ttf);
}

h1 {
    font-family: avQuest;
    font-size: 3.5em;
    letter-spacing: -6px;
}

#content {
    margin: auto;
    text-align: center;
    max-width: 1000px;
}

#devArea {
    text-align: left;
}